%li.border
  -# %p
  -#   %strong
  -#     #{User.find(project.user_id).name}/#{project.name}
  .project_preview
    %a{href: "/projects/#{project.id}"}
      %span
        %strong
          #{project.name}
    .preview_container
      %iframe{src: "#{view_for project}", frameborder: "no", scrolling: "no", height: 150, style: "width:100%;"}
