%li.border
  %p
    %strong
      #{Project.find(course.project_id).name}
  - if !course._readonly? && Group.find(course.group_id).owned_by?(current_user)
    .row.border-box.vcenter
      = link_to Project.find(course.project_id).name, "/courses/#{course.id}"
      .button-group.right
        %button#close-btn.btn.btn-default{data: {course: course.id}, onclick: "closeCourse(this)"}
          = course.opened? ? "close": "reopen"
        = link_to "delete", course_path(course), method: :delete, class: "btn btn-primary btn-sm", data: {confirm: "Are you Sure?"}
  - elsif course._readonly?
    = render Project.find(course.project_id)
  - else
    =render Project.find_by(user_id: current_user.id, pushed_by: course.id)
