<!DOCTYPE html>
%html
  %head
    %title=full_title(yield(:title))
    = stylesheet_link_tag 'application', media:'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "#{params[:controller]}", "data-turbolinks-track" => true
    - begin
      = javascript_include_tag "#{params[:controller]}/#{params[:action]}", "data-turbolinks-track" => true
    - rescue => e
      - puts ''
    = stylesheet_link_tag "#{params[:controller]}", media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    =render 'layouts/header'
    .container#root
      -flash.each do |message_type, message|
        -if message_type == "error"
          %div{class: "alert alert-danger", role: "alert"}=message
        -else
          %div{class: "alert alert-#{message_type}", role: "alert"}=message
      =yield
      =render 'layouts/footer'
      =debug([params,session[:user_id]]) if Rails.env.development?
